---
import { getUrl } from "../util";
import Logo from "../assets/images/shared/logo.svg";

const { class: className, ...props } = Astro.props;
---

<header class:list={["header", className]} {...props}>
  <div class="header__row">
    <Logo class="header__logo" />
    <slot />
  </div>
</header>

<style>
  .header {
    padding: 1.5rem;
    border-bottom: 1px solid var(--color-neutral-150);

    @media (min-width: 48em) {
      padding: 1.875rem 2.5rem 1.5rem;
    }

    @media (min-width: 90em) {
      padding: 2.5rem 0;
      margin-inline: 2.5rem;
    }
  }

  .header__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .header__logo {
    width: 7.0625rem;

    @media (min-width: 90em) {
      width: 10.5625rem;
    }
  }
</style>
